<header id="indexHeader">
    <h1>Google News RSS Feed</h1>

    <form id="searchForm" onsubmit="return searchForm()">
        <label for="search"></label>
        <input type="search" name="search" id="search" placeholder="Search a topic" required>
        <button type="submit">Search</button>
    </form>

</header>

<div id="rss">Search results will appear here...</div>