@import "variables";

nav{
  display: flex;
  flex-direction: row-reverse;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $nav-height;
  z-index: 10;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);

  a {
    display: inline-block;
    height: 60%;
    width: 70px;
    padding: 5px;
    margin: 15px 10px 0 0;
    text-decoration: none !important;
    text-align: center;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.38);

    &:hover{
      background-color: black;
      color: white;
      box-shadow: 0 0 3px 1px gray;
    }
  }
}