@import "variables";

#profileHeader{
  position: fixed;
  top: $nav-height;
  left: 0;
  padding: 30px;
  background-color: white;
  width: 100vw;
  box-shadow: 0 0 5px 1px gray;
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 22px;
  }
}

#profileContent{
  margin-top: 200px;
  div{
    padding: 40px;
  }
}

#profileList{
  li {

    list-style: none;
    min-height: $li-height;
    padding-top: 10px;
    border-bottom: 1px solid #4e4e4e;
    font-size: 14px;

    &:hover{
      background-color: #cdfff5;
    }

    a{
      padding-left: 10px;
    }
    cite {
      color: rgba(74, 74, 74, 0.86);
    }
  }
}
.remove{
  animation: fadeOut 0.4s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
    display: inline;

  }
  to{
    opacity: 0;
    transform: scale(0.5);
    display: none;
  }
}