@import "search_pg";
@import "navbar";
@import "profile";
@import "variables";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  overflow-x: hidden;
}

main{
  margin-top: $nav-height;
}

.error-msg{
  color: darkred;
}

