<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Google News RSS</title>

    <link rel="stylesheet" href="/stylesheets/css.css">
</head>
<body>
    <header>
        <h1>Search Google News RSS</h1>

        <form id="form" >
            <label for="search">Search a topic:</label>
            <input type="search" name="search" id="search" required>
            <button type="submit">Search</button>
        </form>
    </header>

    <div id="rss"></div>
    <script type="text/javascript" src="/scripts/submit_form.js"></script>
</body>
</html>